// _products.scss
.product-item img {
    border-radius: $border-radius;
}

.product-button {
    background-color: $button-color;
    &:hover {
        background-color: $button-hover-color;
    }
}
